<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658174549550-5rf5n9qg17dg2tgt6e49apaflvjemfgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658174549550-5rf5n9qg17dg2tgt6e49apaflvjemfgd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>658174549550-j5djla1da9t9p360uhlbrspk1mt69oo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9nap37BIwk-CdHLvnxTywDWFyQJSjTG8</string>
	<key>GCM_SENDER_ID</key>
	<string>658174549550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tz.co.crotchet</string>
	<key>PROJECT_ID</key>
	<string>letterplace-c103c</string>
	<key>STORAGE_BUCKET</key>
	<string>letterplace-c103c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658174549550:ios:053b5ccb3eddd4906209bf</string>
	<key>DATABASE_URL</key>
	<string>https://letterplace-c103c.firebaseio.com</string>
</dict>
</plist>