@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	[type="text"],
	[type="email"],
	[type="url"],
	[type="password"],
	[type="number"],
	[type="date"],
	[type="datetime-local"],
	[type="month"],
	[type="search"],
	[type="tel"],
	[type="time"],
	[type="week"],
	[multiple],
	textarea,
	select {
		@apply w-full bg-transparent border-content/20 rounded-lg shadow-sm focus:border-content/50 focus:ring-transparent;
	}
	[type="checkbox"],
	[type="radio"] {
		@apply border-content/20 rounded text-primary focus:ring-primary;
	}
}

:root {
	--border-color: #e2e8f0;
	--shadow-color: rgba(0, 0, 0, 0.26);
}

@media (prefers-color-scheme: dark) {
	:root {
		--border-color: rgba(255, 255, 255, 0.16);
		--shadow-color: rgba(0, 0, 0, 1);
	}

	input[type="date"] {
		color-scheme: dark;
	}
}

* {
	border-color: var(--border-color);
}

#svg circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #666;
	stroke-width: 1em;
}
#svg #bar {
	stroke: #ff9f1e;
}

.windows *::-webkit-scrollbar {
	width: 0.2rem;
}
.windows *::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.windows *::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.flex > * {
	min-width: 0;
}
