@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--border-color: #e2e8f0;
	--shadow-color: rgba(0, 0, 0, 0.26);
}

@media (prefers-color-scheme: dark) {
	:root {
		--border-color: rgba(255, 255, 255, 0.16);
		--shadow-color: rgba(0, 0, 0, 1);
	}
}

* {
	border-color: var(--border-color);
}

#svg circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #666;
	stroke-width: 1em;
}
#svg #bar {
	stroke: #ff9f1e;
}

.windows *::-webkit-scrollbar {
	width: 0.2rem;
}
.windows *::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.windows *::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.flex > * {
	min-width: 0;
}
