@tailwind base;
@tailwind components;
@tailwind utilities;

#svg circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #666;
	stroke-width: 1em;
}
#svg #bar {
	stroke: #ff9f1e;
}
