{
    "extends": "eslint:recommended",
    "env": {
        "es2020": true,
        "node": true
    },
    "globals": {
        "window": "writable",
        "appDir": "readonly",
        "buildDir": "readonly",
        "crotchetApp": "readonly",
        "isDev": true
    },
    "rules": {
        "no-mixed-spaces-and-tabs": "off"
    }
}